body {
    background-color: #333333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #4CAF50;
}

.navbar .active {
    background-color: #4CAF50;
}

#googleMap {
    width:80%;
    height:550px;
    margin: auto;
    margin-top: 10px;
}
